include flowlib/logging.conf
include setup.py

graft flowlib/init/
graft flowlib/templates/

exclude *

prune flowlib-components/
prune flowlib/init/docs/
prune k8s/
prune nifi-docker/
prune flowlib-metrics

global-exclude __pycache__ *.pyc .DS_Store
