include CHANGELOG.txt
include README.md
include flowlib/logging.conf

graft flowlib/init/
graft flowlib/templates/

exclude Dockerfile
exclude .gitignore
exclude MANIFEST.in
exclude README.md
exclude release.sh
exclude requirements-dev.txt

prune flowlib-components/
prune flowlib/init/docs/
prune k8s/
prune nifi-docker/
prune flowlib-metrics

global-exclude __pycache__ *.pyc .DS_Store
