[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appnope = "==0.1.0"
asn1crypto = "==0.24.0"
b23-flowlib = {editable = true, git = "git@github.com:B23admin/b23-flowlib.git"}
backcall = "==0.1.0"
certifi = "==2019.3.9"
cffi = "==1.12.3"
chardet = "==3.0.4"
cryptography = "==2.6.1"
decorator = "==4.4.0"
deepdiff = "==3.3.0"
docker = "==3.7.2"
docker-pycreds = "==0.4.0"
gitdb2 = "==2.0.5"
idna = "==2.8"
ipython = "==7.4.0"
jedi = "==0.13.3"
jsonpickle = "==1.1"
lxml = "==4.3.3"
networkx = "==2.3"
numpy = "==1.17.0"
nipyapi = "==0.13.0"
parso = "==0.4.0"
pexpect = "==4.7.0"
pickleshare = "==0.7.5"
prompt-toolkit = "==2.0.9"
ptyprocess = "==0.6.0"
pycparser = "==2.19"
pyparsing = "==2.4.0"
requests = "==2.21.0"
"ruamel.yaml" = "==0.15.89"
six = "==1.12.0"
smmap2 = "==2.0.5"
traitlets = "==4.3.2"
urllib3 = "==1.24.2"
wcwidth = "==0.1.7"
websocket-client = "==0.56.0"
GitPython = "==2.1.11"
ipython_genutils = "==0.2.0"
Jinja2 = "==2.10.1"
MarkupSafe = "==1.1.1"
Pygments = "==2.3.1"
pyOpenSSL = "==19.0.0"
PyYAML = "==5.1"

[dev-packages]

[requires]
python_version = "3.8"
