<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <title>B23 FlowLib</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="screen,projection">
</head>

<body>
  <nav class="light-blue darken-4">
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s6">
          <a href="#!" class="left brand-logo"><i class="material-icons">folder_open</i>FlowLib Documentation</a>
        </div>
        <div class="input-field col s6">
          <input id="search" type="search" onkeyup="filter()">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </div>
    </div>
  </nav>

  <div id="doc-items" class="container">
    <ul class="collapsible expandable">
      <li>
        <div class="collapsible-header"><i class="material-icons">timeline</i>Reporting Tasks</div>
        <div class="collapsible-body">
          <div class="collection">
            {% for key in reporting_tasks %}
              <a style="text-transform: none;" class="waves-effect waves-light collection-item btn modal-trigger" href="reporting_tasks/{{ key }}.descriptors.html">
                <h7 class="left">{{ key }}</h7>
              </a>
            {% endfor %}
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">build</i>Controller Services</div>
        <div class="collapsible-body">
          <div class="collection">
            {% for key in controller_services %}
            <a style="text-transform: none;" class="waves-effect waves-light collection-item btn modal-trigger" href="controllers/{{ key }}.descriptors.html">
              <h7 class="left">{{ key }}</h7>
            </a>
            {% endfor %}
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">loop</i>Processors</div>
        <div class="collapsible-body">
          <div class="collection">
            {% for key in processors %}
            <a style="text-transform: none;" class="waves-effect waves-light collection-item btn modal-trigger" href="processors/{{ key }}.descriptors.html">
              <h7 class="left">{{ key }}</h7>
            </a>
            {% endfor %}
          </div>
        </div>
      </li>
    </ul>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type=text/javascript>

    // init collapsible
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.collapsible');
      var instances = M.Collapsible.init(elems, {});
    });

    function filter() {
      // Declare variables
      var input = document.getElementById("search");
      var filter = input.value.toUpperCase();
      var collection = document.getElementById("doc-items");
      var items = collection.getElementsByTagName("a");

      // Loop through all table rows, and hide those who don't match the search query
      var item
      for (var i = 0; i < items.length; i++) {
        item = items[i].getElementsByTagName("h7")[0];
        if (item) {
          txtValue = item.textContent || item.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            items[i].style.display = "";
          } else {
            items[i].style.display = "none";
          }
        }
      }
    }
  </script>
</body>

</html>
