name: A workflow for my Hello World file
on: 
  workflow_dispatch:
    inputs:
      flows:
        required: true

jobs:
  build:
    name: Hello world action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ./action-deploy-flows
        with:
          INPUT_FLOWS: ${{ github.event.inputs.flows }}
